.registerDiv{
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 20px;
    color: #000000;
    font-family: "Roboto";
    width: fit-content;

    h1{
        font-weight: 400;
        width: fit-content;
        font-size: 20px;
    }

    h3{      
        width: fit-content;
    }

    .inputDiv{
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }

    .registerInput{
        min-width: 48%;
        margin-right: 15px;
        margin-bottom: 15px;

        p{
            font-weight: 600;
            font-size: 14px;
        }

        input{
            background-color: #F6F7F9;
            border-radius: 8px;
            padding: 15px;
            color: #90A3BF;
            border: none;
            font-weight: 500;
        }
    }
}

.confirm{
    margin-top: 50px;
    width: auto;
    max-width: 1070px;
}

.registerButton{
    padding-right: 25px;
    padding-left: 25px;
}