.itemDiv{
    margin: 0 5px;
}

.itemInfo{
    margin-bottom: 10px;
    margin-top: 0;
}

.inputDiv{
    font-size: calc(8px + 1vmin);

    input{
        width: -webkit-fill-available;
        border-radius: 6px;
        padding: 8px;
    }
}

.buttonItemDiv{
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.button{
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
}