.main{
    display: flex;
    width: 100%;
    gap: 32px;
    flex-direction: row;

    button{
        cursor: pointer;
    }
}

img{
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    padding: 32px;
}

.bottonLogo{
    position: absolute;
    align-self: center;
}