h2{
    margin: 0;
    margin-bottom: 10px;
}

.error{
    color: rgb(210, 27, 64);
    font-weight: 700;
    margin: 5px 0;
}

.inputDiv{
    font-size: calc(8px + 1vmin);
    margin-bottom: 15px;

    input{
        width: -webkit-fill-available;
        border-radius: 6px;
        padding: 8px;
    }
}

.signUpText{
    margin-top: 25px;
    text-align: center;
    font-size: calc(6px + 1vmin);
}

.buttonDiv{
    text-align: right;
}

.button{
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
}