.App {
  background-color: #7719f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-header {
  text-align: left;
  margin: 3vh 0 0 5vw;
}

h1 {
  margin: 0;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #000;
}

.body{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  min-height: 80vh;
  margin: 3% 0;
}